/* tailwind imports for usage */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');



.showPassword {
  background: url("./assets/svg/icons/eye_closed.svg") no-repeat;
}

.hidePassword {
  background-image: url("./assets/svg/icons/eye_open.svg") no-repeat;
}

name-input-register .input-register:focus ~ .image-input {
  transform: scale(2);
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h-95 {
  height: 97%;
}


@layer components {

  .sidebar-description {
    @apply absolute w-auto p-2 ml-4 m-2 min-w-max left-14
    rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center 
           h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
           bg-amber-500 text-gray-800
           hover:bg-amber-700 hover:text-white
           rounded-3xl hover:rounded-xl
           transition-all duration-300 ease-linear
           cursor-pointer;
}

.sidebar-other-icon {
  @apply relative flex items-center justify-center 
         h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
         bg-amber-500 text-gray-800
         hover:bg-amber-700 hover:text-white
         rounded-3xl hover:rounded-xl
         transition-all duration-300 ease-linear
         cursor-pointer;
}

  /* REGISTRO USUARIO FORM */

  .mainButton {
    @apply px-3 py-2 h-10 font-bold text-sm justify-center bg-amber-500 hover:bg-amber-600 hover:scale-105 transition text-white rounded-xl focus:ring-4 focus:ring-gray-300
  }

  .dropdown_item {
    @apply block py-2 px-4 text-sm text-right text-gray-700 hover:bg-gray-100 w-full
  }

  .regist_input {
    @apply py-2 px-10 input-register rounded-r-xl bg-gray-200 text-gray-600 h-16 w-full focus:outline-none
  }

  .login_input_password {
    @apply px-10 input-register bg-gray-200 p-3 text-gray-600 h-16 w-full focus:outline-none  
  }

  .regist_img {
    @apply bg-amber-500 items-center rounded-l-xl justify-center flex w-16 p-3
  }

  .input_form {
    @apply appearance-none text-black p-3 border-none bg-white shadow-inner rounded-2xl w-full mr-3 focus:border-blue-300 text-center
  }

  .input_label {
    @apply text-amber-300 font-bold mb-2
  }

  .parallax {
    background-attachment: fixed;
  }
  
  .w-30vw {
    width: 80vw;
  }
  
  .w-40vw {
    width: 40vw;
  }

  .w-50vw {
    width: 120vw;
  }
  
  .w-20vw {
    width: 20vw;
  }

  .navbar-li {
    @apply easing block py-2 pr-4 pl-3 text-white border-b hover:font-bold border-gray-100 hover:scale-125 duration-300 md:border-0 hover:text-amber-300 md:p-0
  }

  strong {
    @apply text-gray-500 font-bold
  }

  .easing {
    @apply transition ease-in-out
  }

  .bg--transparent {
    background: rgba(96, 165, 250,0.9);
    @apply transition duration-500
  }

  .bg-blue-500-trans {
    background-color: #3b83f6a2;
  }

  .card {
    @apply  bg-white rounded-lg p-4 hover:drop-shadow-xl hover:scale-105 transition duration-500
  }

  .card2 {
    @apply  bg-white rounded-lg p-4 drop-shadow-md hover:scale-105 transition duration-500
  }

  .cardHeader {
    background-color: #b5b5b5;
    padding: theme("spacing.4");
    border-radius: theme("borderRadius.lg");
  }

  .cardTitle {
    color: aliceblue;
  }

  .listItem {
    @apply px-10 text-gray-800;
  }

  .listItem--head {
    @apply px-10 text-black;
  }

  .cardBody {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.xl");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }

  .formLabel {
    @apply block text-center text-gray-500 font-bold pb-2 md:mb-0;
  }

  .formLabel--left-noPadding {
    @apply block text-left text-gray-700 font-semibold md:mb-0;
  }

  .formLabel--left {
    @apply block text-left text-gray-500 font-bold mb-1 md:mb-0 pl-5;
  }

  .formLabel--right {
    @apply block text-right text-gray-500 font-bold mb-1 md:mb-0 pr-5;
  }

  .formInput {
    @apply bg-gray-200 text-center appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500;
  }

  .formButton {
    @apply bg-blue-500 hover:bg-blue-400 focus:drop-shadow-sm focus:outline-none text-white font-bold py-4 px-4  rounded-3xl w-32;
  }

  .formButton2 {
    @apply text-black bg-white easing duration-200 hover:scale-110 hover:bg-amber-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 lg:mr-0
  }
}